/* Write your CSS Here. */
h3{
    text-align: center;
}

ul{
    display:flex;
    flex-wrap: wrap;
    margin: 20px 200px;
    padding-left: 55px;
}
li{
    list-style: none;
    background-color: lightgray;
    width: 200px;
    height: 200px;
    margin: 10px 30px;
    padding: 10px;

}